
h1{
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
}
h1.header{
color: #0B132A;
width: 555px;
height: 140px;
text-shadow: 0px 2px 4px #BA55D3;
box-shadow: 0px 2px 4px 0px #BA55D3;
margin-top: 50px;
}
.paragraph{
    font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color:  #4F5665;
}
.btn-start{
width: 250px;
height: 60px;
border:none;
color: #ffffff;
padding: 17.5px 77.5px;
background: #BA55D3;
border-radius: 4px;
}
.sec{
height: 200px;
width: 1140px;
border-radius: 10px;
margin:5% auto;
background-color: #ffffff;

}
#user{
    width: 55px;
    height: 55px;
    background: rgba(186, 85, 211, 0.25);
    border-radius: 70px;
}
.p{
    position: relative;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 10px;
    height:18px ;
    width: 16.8px;

background: #BA55D3;
}
.para2{
    display: inline;
}
.content{
font-weight: 700;
line-height: 30px;
color: #0B132A;

}
.content,.content-paragraph, .second_heading{
    font-family: Rubik;
    font-style: normal;
    letter-spacing: 0em;
    text-align: left;
}
.content-paragraph{
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #4F5665;
}
.second_heading{
font-size: 35px;
font-weight: 500;
line-height: 50px;
Width :383.41px;
Height :100px;
}
.paragraph{
Width :427.88px;
Height:60px;
color:#4F5665;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}
.divider{
    background: #FFFFFF;
border: 2px solid #DDDDDD;
box-sizing: border-box;
border-radius: 10px;
padding: 20px 5em;
}
.btn-divider{
    margin-top: 5px;
    border: 2px solid #BA55D3;
    background-color: #ffffff;
    color: #BA55D3;
    padding: 0.3em 3.5em;
}
.btn-divider--premuim{
    margin-top: 5px;
    border: 2px solid #BA55D3;
    background-color: #BA55D3;
    color:#fff ;
    padding: 0.3em 3.5em;   
}
#nav-list{
        list-style-type: none;
}
#nav-list li::before {
    content: "✔";
    padding-right: 10px;
    color: rgb(34, 175, 69);
  }
  #nav-list li{
      padding: 10px 1px;
  }
.btn-paddle{
    font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}
button.btn-paddle{
    color:#fff;
    background-color: #BA55D3;
    padding: .6em 3em;
    border: none;
}
.paddle-top{
    margin-top: 5em;
}
.partner{
    width: 100px;
    color: #DDE0E4;
    font-weight: bolder;
    font-size: 3.5rem;
}
.partner-round{
    background-color: #DDE0E4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    
}
.img-flex{
    display: flex;
}
.p-size{
    font-weight: 400;
}
.row .testimonial{
    background: #FFFFFF;
border: 3px solid #BA55D3;
box-sizing: border-box;
border-radius: 4px;
padding: 1.5em 2em;

}
.row .testimonial{
    
    margin-right: 7rem;
}